<nav class="nav flex-column">
    <NavLink class="nav-link text-white text-uppercase text-center" href="about">
        ABOUT
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center"  href="experience">
        EXPERIENCE
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center"  href="education">
        EDUCATION
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center"  href="interests">
        INTERESTS
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center"  href="skill">
        SKILL
    </NavLink>
    <NavLink class="nav-link text-white text-uppercase text-center"  href="awards">
        AWARDS
    </NavLink>
</nav>