@page "/welcome"
<PageTitle> Welcome dotnet 2</PageTitle>
<h1>Welcome to class dotnet 2</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus molestias modi id soluta sapiente eum adipisci. Dignissimos labore neque nulla? Dolorum maxime expedita sapiente provident totam, repudiandae molestias eligendi laudantium!</p>